<h3>{{ 'DIALOGS.SHARE.TITLE' | translate }}</h3>
<mat-nav-list>
  <mat-list-item (click)="shareInSocialMedia('facebook')">
    <img matListAvatar src="./assets/images/social-media/facebookR.png">
    <span mat-line>Facebook</span>
    <span mat-line>{{ 'DIALOGS.SHARE.FACEBOOK' | translate }}</span>
  </mat-list-item>
	<mat-list-item (click)="shareInSocialMedia('twitter')">
		<img matListAvatar src="./assets/images/social-media/twitterR.png">
    <span mat-line>Twitter</span>
    <span mat-line>{{ 'DIALOGS.SHARE.TWITTER' | translate }}</span>
  </mat-list-item>
  <mat-list-item (click)="shareInSocialMedia('whatsapp')">
		<img matListAvatar class="not-rounded" src="./assets/images/social-media/whatsappR.png">
    <span mat-line>Whatsapp</span>
    <span mat-line>{{ 'DIALOGS.SHARE.WHATSAPP' | translate }}</span>
  </mat-list-item>
  <mat-list-item (click)="shareInSocialMedia('copyLink')">
  	<mat-icon matListIcon>link</mat-icon>
    <span mat-line>Copy link</span>
    <span mat-line>{{ 'DIALOGS.SHARE.COPY' | translate }}</span>
  </mat-list-item>
</mat-nav-list>