.col-body {
  width: 100%;
  float: left;
  border-right: solid 1px rgba(0, 0, 0, 0.12);
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.col-side-features {
  display: none;
  padding: 20px;
}

.dashboard-container {
  height: calc(100% - 52px);
  width: 100%;
}

@media (min-width: 600px) {
  .col-body {
    width: 66%;
  }

  .col-side-features {
    width: 34%;
    float: left;
    height: 100%;
    display: block;
  }

}

.col-side-features mat-card {
  margin-bottom: 20px;
}

mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-card-container {
  margin: 20px;
}

.post-list-container {
  margin: 20px;

}

.more-results {
  font-weight: bold;
  font-style: italic;
}
.more-results-card {
  cursor: pointer;
  border-radius: 0px;
  width: 100%;
  margin-top: 20px;
}

.more-results-container {
  position: relative;
}

.mat-spinner {
  margin: 0 auto;
}