<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
	<mat-dialog-content class="content">
		<mat-tab-group color="accent" mat-align-tabs="center">
		  <mat-tab label="Following" formGroupName="following">
		  	<div formArrayName="aliases">
					<div *ngFor="let f of following; let i = index" class="following-list-col">
						<div class="col-chk">
							<section class="text-center">
					      <mat-checkbox
					      	[formControlName]="i"
					      	(change)="followingChange($event, i, f)"></mat-checkbox>
					    </section>
						</div>
				  	<app-user-card 
				  		(click)="aliasesFollowing.controls[i].setValue(aliasesFollowing.controls[i].value ? '' : f)"
				  		[disableNavigateToProfile]="true"
				  		[hideSecondaryAddressess]="true"
				  		[address]="f"
				  		class="col-user-card"></app-user-card>
					</div>
					<div class="more-results-container clear-both">
						<mat-spinner *ngIf="loadingFollowing" color="accent" diameter="32"></mat-spinner>
						<div class="no-results" *ngIf="!following.size && !loadingFollowing">
							You are not following anyone yet!
						</div>
						<mat-card 
							[style.visibility]="!loadingFollowing && moreResultsAvailableFollowing ? 'visible' : 'hidden'"
							class="more-results-card mat-elevation-z0"
							matRipple
							(click)="moreResultsFollowing()" >
						  <mat-card-content class="more-results text-center">
								Show more results
						  </mat-card-content>
						</mat-card>
					</div>
			  </div>
			</mat-tab>
		  <mat-tab label="Followers" formGroupName="followers">
		  	<div formArrayName="aliases">
					<div *ngFor="let follower of followers; let j = index" class="followers-list-col">
				  	<div class="col-chk">
							<section class="text-center">
					      <mat-checkbox
					      	[formControlName]="j"
					      	(change)="followersChange($event, j, follower)"></mat-checkbox>
					    </section>
						</div>
				  	<app-user-card 
				  		(click)="aliasesFollowers.controls[j].setValue(aliasesFollowers.controls[j].value ? '' : follower)"
				  		[address]="follower"
				  		[disableNavigateToProfile]="true"
				  		class="col-user-card"></app-user-card>
					</div>
					<div class="more-results-container clear-both">
						<mat-spinner *ngIf="loadingFollowers" color="accent" diameter="32"></mat-spinner>
						<div class="no-results" *ngIf="!followers.size && !loadingFollowers">
							You have no followers yet!
						</div>
						<mat-card 
							[style.visibility]="!loadingFollowers && moreResultsAvailableFollowers ? 'visible' : 'hidden'"
							class="more-results-card mat-elevation-z0"
							matRipple
							(click)="moreResultsFollowers()" >
						  <mat-card-content class="more-results text-center">
								Show more results
						  </mat-card-content>
						</mat-card>
					</div>
			  </div>
		  </mat-tab>
		</mat-tab-group>
	</mat-dialog-content>
	<mat-dialog-actions 
		align="start">
	  <button 
	  	type="button"
	  	mat-button
	  	cdkFocusInitial (click)="close()">Close</button>
	  <div class="spacer"></div>
	  <button
	  	type="submit"
	  	mat-flat-button
	  	color="accent">
	  	<span>Apply</span> 
	  </button>
	</mat-dialog-actions>
</form>