<h2>Edit banner</h2>
<div class="profile-container" *ngIf="mainAddress && isValidUser()">
	<h4>Banner image</h4>
	<p>The image at the top of your profile.</p>
	<div class="profile-header mat-elevation-z2 pacific-dream"
		[ngStyle]="{'background-image': bannerImage ? 'url(' + bannerImage + ')' : ''}"></div>
	<mat-progress-bar 
		*ngIf="loadingSavingNewBannerImage"
		class="progress-bar-header" color="accent" mode="indeterminate"></mat-progress-bar>
		
	<p class="action-panel">
		<button 
			mat-stroked-button
			color="accent"
			[disabled]="loadingSavingNewBannerImage"
			(click)="uploadFile('image')"
			type="button"><mat-icon class="material-icons-outlined">image</mat-icon> Upload file</button>
		<button
			mat-stroked-button
			color="accent"
			[disabled]="loadingSavingNewBannerImage"
			(click)="fileManager('image')"
			type="button"><mat-icon>perm_media</mat-icon> File manager</button>
		<button
			mat-stroked-button
			color="warn"
			[disabled]="loadingSavingNewBannerImage"
			(click)="removeBannerImage(true)"
			type="button"><mat-icon>delete</mat-icon> Remove image</button>
		<button
			mat-flat-button
			color="accent"
			[disabled]="!saveNewBannerImage || loadingSavingNewBannerImage"
			(click)="saveBannerImage()"
			type="button"><mat-icon>save</mat-icon> Save changes</button>
	</p>
</div>
<div class="profile-container" *ngIf="!mainAddress">
	Please login first.
</div>
<div class="profile-container" *ngIf="!isValidUser() && mainAddress">
	You don't have enough privileges for editing this profile.
</div>