<div class="player-container" (click)="$event.stopPropagation()">
	<div
		class="arrow-container vcenter"
		(click)="playNextStory('prev')"
  	[ngClass]="{ 
  		'arrow-dark': isDarkTheme,
  		'off': ((currentSubstoryIdArrPos - 1) < 0 && !infiniteScrollActive) || substories.length <= 1 || loadingSubstory }">
    <div
    	class="arrow left border-color-theme">
    	<img src="assets/images/arrow.png">
    </div>
	</div>
	<app-story-player-substory
		[substory]="currentSubstory!" 
		(loadingSubstoryEvent)="updateLoadingSubstory($event)"></app-story-player-substory>
	
	<div
		class="arrow-container vcenter"
		(click)="playNextStory('next')"
  	[ngClass]="{ 
  		'arrow-dark': isDarkTheme,
  		'off': (substories.length <= (currentSubstoryIdArrPos + 1) && !infiniteScrollActive) || substories.length <= 1 || loadingSubstory }">
    <div
    	class="arrow right border-color-theme">
    	<img src="assets/images/arrow.png">
    </div>
	</div>
	
</div>
