<div class="player-container" (click)="$event.stopPropagation()">
  <div class="arrow-small-container vcenter">
    <div
      class="arrow-small border-color-theme">
      <button 
        [disabled]="((currentSubstoryIdArrPos - 1) < 0 && !infiniteScrollActive) || substories.length <= 1 || loadingSubstory"
        color="accent"
        mat-mini-fab
        (click)="playNextStory('prev')"
        aria-label="Previous">
        <mat-icon class="arrow-icon" [inline]="true">chevron_left</mat-icon>
      </button>
    </div>
  </div>
  <app-story-player-substory
    [substory]="currentSubstory!" 
    (loadingSubstoryEvent)="updateLoadingSubstory($event)"
    [fullMode]="fullMode"></app-story-player-substory>
  
  <div
    class="arrow-small-container vcenter">
    <div
      class="arrow-small border-color-theme">
      <button 
        [disabled]="(substories.length <= (currentSubstoryIdArrPos + 1) && !infiniteScrollActive) || substories.length <= 1 || loadingSubstory"
        color="accent"
        mat-mini-fab
        (click)="playNextStory('next')"
        aria-label="Next">
        <mat-icon class="arrow-icon" [inline]="true">chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <div class="player-circle-container text-center clear-both">
    <ng-container
      *ngFor="let substory of substories; index as i;">
      <div 
        class="player-circle border-color-theme" 
        [ngClass]="{ 
          'background-color-theme': currentSubstory && substory.id === currentSubstory.id
         }"
         (click)="playStoryByPosition(i)"></div>
    </ng-container>
  </div>
  
</div>
