<mat-card 
	appearance="outlined" 
	class="user-card mat-elevation-z0"
	[routerLink]="disableNavigateToProfile ? [] : ['/', address]">
	<mat-progress-bar mode="buffer" color="accent" *ngIf="loadingProfile"></mat-progress-bar>
	<mat-card-header *ngIf="profile">
  	<img mat-card-avatar [src]="profile.avatarURL || defaultProfileImage">
    <mat-card-title *ngIf="profile.name" class="word-break">{{ profile.name }}</mat-card-title>
    <mat-card-subtitle class="word-break" *ngIf="profile.username">{{ profile.username }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  	<img class="default-img" mat-card-avatar *ngIf="!profile" [src]="getImageUrl('')">
		<app-arweave-address matLine [address]="address"></app-arweave-address>
  </mat-card-content>
</mat-card>
	