<p>
  <mat-toolbar class="mat-elevation-z1" color="primary">
    <span class="logo" routerLink="./dashboard">Public Square</span>
    <span class="spacer"></span>

    <button mat-icon-button aria-label="Theme" [matMenuTriggerFor]="themeMenu">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
      <mat-radio-group aria-label="Select an option" [formControl]="theme" (change)="updateTheme(theme.value)">
        <div mat-menu-item>
          <mat-radio-button value="light-theme">Light Square</mat-radio-button>
        </div>
        <div mat-menu-item>
          <mat-radio-button value="dark-theme">Dark Square</mat-radio-button>
        </div>
        <div mat-menu-item>
          <mat-radio-button value="teal-theme">Teal Blue</mat-radio-button>
        </div>
        <div mat-menu-item>
          <mat-radio-button value="dark-indigo-theme">Blue Bird</mat-radio-button>
        </div>
      </mat-radio-group>

    </mat-menu>

    <button mat-icon-button aria-label="Account Info" [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="['logout']">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>