mat-toolbar {
	height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.logo-img {
	transform: rotate(-8deg);
	-webkit-filter: drop-shadow(4px 4px 4px rgba(255,255,255,0.5));
}
.logo{
	font-weight: bold;
	letter-spacing: 6px;
	cursor: pointer;
	font-size: 20px;
	margin-left: 10px;
}

.logo2{
	cursor: pointer;
	font-size: 36px;
	margin-left: 10px;
	width: 42px;
	height: 36px;
}
.logo2 img {
	width: 100%;
}
@media (min-width: 800px) {
	.logo {
		font-size: 24px;
		margin-right: 4px;
	}
	.logo2{
		display: none;
	}
}

.active {
	background: rgba(0,0,0,.2);
	font-weight: bold;
}

.mat-mdc-button span {
	margin-left: 8px;
	font-size: 12px;
	font-weight: bold;
}

.btn-connect {
	border-radius: 50px;
}

.btn-connect span {
	margin-left: 0px;
}

.avatar-container {
	padding: 0px;
}
.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
	flex-shrink: 0;
	vertical-align: middle;
}

.avatar.user {
	margin-right: 4px;
}

.user-info-container {
	width: 280px !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.big-username {
	font-size: 18px !important;
	margin-bottom: 20px;
	font-weight: bold !important;
}

.user-link {
	text-decoration: none;
}

.login-method-span {
	margin-top: -6px;
	font-size: 10px;
}
.mat-mdc-radio-button {
	width: 100%;
}
.theme-info {
	font-size: 10px;
}
.theme-menu-title {
	font-size: 10px !important;
	font-weight: bold !important;
}
.theme-menu-subtitle {
	font-size: 10px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.theme-menu-container .mat-mdc-list-item.mat-2-line,
.theme-menu-container .mat-list-option.mat-2-line {
	height: 42px !important;
}
.search-container {
	padding: 10px 10px 0px 10px;
	width: 240px;
}
.browse-link-c {
	padding: 0px 12px 12px 12px;
	font-size: 12px;
	text-align: right;
}
.small-username-2 {
	margin-top: 0px;
}