.big-text {
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 11vw;
	margin-top: 140px;
	margin-bottom: 20px;
}

.secondary-text {
	letter-spacing: 4px;
	font-size: 3.5vw;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-btn {
	font-size: 1.5vw;
	padding: 10px 20px 10px 20px;
}