<mat-progress-bar 
  color="warn"
  mode="indeterminate"
  *ngIf="loadingBalance || (loadingDonationInProgress && !txDonation)"
  class="fadeIn"></mat-progress-bar>
<mat-dialog-content class="content border-right-special">
  <div *ngIf="data.mainAddress && !loadingDonationInProgress" class="row">
    <p >
      <strong>From: </strong>{{ data.mainAddress }}
      <br>
      <strong>Balance: </strong>{{ balance }}
    </p>
    <p >
      <strong>To: </strong>{{ data.to }}
      <br>
    </p>
    <p >
      <strong>Choose amount: </strong>
    </p>
    <div class="">
      <!-- TODO: The 'tickInterval' property no longer exists -->
      <mat-slider
        class="donation-slider"
        [(ngModel)]="amount"
        step="0.00001"
        min="0"
        [disabled]="loadingBalance"
        [max]="maxAmount"
        aria-label="AR"><input matSliderThumb /></mat-slider>
    </div>
    <div>
      {{ amount }} AR
    </div>
  </div>
  <div *ngIf="!data.mainAddress">🙏 Please login first 👾</div>
  <div *ngIf="loadingDonationInProgress">
    <h1 *ngIf="!txDonation">🚀 Transaction in progress, hold on!</h1>
    <h2 *ngIf="txDonation">🥳 Donation sent! Thank you very much for your support! 🙏🙌</h2>
    <h2 *ngIf="txDonation">You can close this window now.</h2>
  </div>
</mat-dialog-content>
<mat-dialog-actions 
  align="start" >
  <button 
    mat-button
    [disabled]="loadingDonationInProgress"
    mat-dialog-close cdkFocusInitial>Close</button>
  <div class="spacer"></div>
  <button
    mat-flat-button
    cdkFocusInitial
    (click)="sendDonation(amount, data.to)"
    *ngIf="data.mainAddress && !loadingDonationInProgress" 
    [disabled]="!amount"
    color="accent">
    <span>Yes, send the donation now! </span> 
  </button>
</mat-dialog-actions>