.col-body {
	width: 76%;
	float: left;
	border-right: solid 1px rgba(0, 0, 0, 0.12);
	height: 100%;
}

.col-side-features {
	width: 24%;
	float: left;
	height: 100%;
}

.dashboard-container {
	height: 100%;
	width: 100%;
}