.col-body {
  width: 100%;
  float: left;
  border-right: solid 1px rgba(0, 0, 0, 0.12);
  height: 100%;
}

.col-side-features {
  display: none;
}

.dashboard-container {
  height: 100%;
  width: 100%;
}

@media (min-width: 600px) {
  .col-body {
    width: 76%;
  }

  .col-side-features {
    width: 24%;
    float: left;
    height: 100%;
  }

}