.no-results {
  padding: 20px;
  text-align: center;
  font-style: italic;
}
.replies-subtitle {
  padding: 20px;
  margin: 10px 0px 0px 0px;
}
.mat-mdc-progress-spinner {
  margin: 0 auto;
}
.label-replied {
  padding: 20px;
  margin: 10px 0px 0px 0px;
}
.more-results-container {
  padding-top: 20px;
}