<div class="fadeIn">
	<div
		[ngStyle]="{'background-image': bannerImage ? 'url(' + bannerImage + ')' : ''}"
		class="profile-header mat-elevation-z2 pacific-dream text-right">	
		<button 
			mat-button
			class="banner-img-btn"
			*ngIf="editProfileFlag"
			[routerLink]="['/', addressList[0], 'edit-banner']">
			<mat-icon class="material-icons-outlined" color="accent">photo_camera</mat-icon>
			<span>Edit banner</span>
		</button>
	</div>
	<div class="profile-subheader">
		<div class="profile-img ">
			<img class="avatar border-same-as-background mat-elevation-z2" mat-card-avatar [src]="profileImage">
		</div>
		<div class="profile-info">
			<h2 *ngIf="name">{{ name }}</h2>
			<a *ngIf="username"
				[routerLink]="['/', addressList[0]]" 
        class="small-username user-link">
      	{{ username }}
      </a>
			<app-arweave-address
				*ngFor="let address of addressList"
				[routerLink]="['/', address]" 
				[address]="address" class="small-username address user-link"></app-arweave-address>
			<ng-container *ngIf="addressList[0]" >
				<a [routerLink]="['/', addressList[0], 'followers']" 
          class="small-username user-link">
          {{ numFollowers > maxFollowers ? '+' + maxFollowers : numFollowers }} Followers</a>
        <a [routerLink]="['/', addressList[0], 'following']" 
          class="small-username user-link">
          {{ numFollowing > maxFollowing ? '+' + maxFollowing : numFollowing }} Following</a>
			</ng-container>
		</div>
		<div class="profile-actions" *ngIf="editProfileFlag">
	    <button [routerLink]="['/', 'logout']" mat-stroked-button>
	    	<mat-icon color="warn">logout</mat-icon> Log out
	    </button>
	    <button
	    	mat-stroked-button
	    	(click)="scrollToEditPage()">
	    	<mat-icon color="accent">edit</mat-icon> Edit Profile</button>
		</div>
		<div class="profile-actions" *ngIf="!editProfileFlag && isLoggedIn">
	    <button mat-stroked-button (click)="confirmFollowDialog(username, addressList)">
	    	<mat-icon color="accent">person_add_alt</mat-icon>
	    	Follow
	    </button>
	    <button mat-stroked-button (click)="donate()">
	    	<mat-icon class="material-icons-outlined" color="accent">monetization_on</mat-icon>
	    	Donate
	    </button>
		</div>
	</div>
	<div class="bio" *ngIf="bio">
		{{ bio }}
	</div>
	<div class="col-body">
		<nav 
			mat-tab-nav-bar
			class="mat-elevation-z1"
			color="accent" [tabPanel]="tabPanel">
		  <a mat-tab-link 
		     [routerLink]="['/', addressRouteParam]"
		     [routerLinkActiveOptions]="{exact: true}"
		     routerLinkActive="active"
		     #rlStories="routerLinkActive"
		     [active]="rlStories.isActive"> Stories</a>
		  <a mat-tab-link 
		     #rlPending="routerLinkActive"
		     routerLinkActive="active"
		     [active]="rlPending.isActive"
		     [routerLink]="['pending']"> Pending </a>
		  <a mat-tab-link 
		     #rlReply="routerLinkActive"
		     routerLinkActive="active"
		     [active]="rlReply.isActive"
		     [routerLink]="['replies']"> Replies </a>
		  <a mat-tab-link 
		     #rlLike="routerLinkActive"
		     routerLinkActive="active"
		     [active]="rlLike.isActive"
		     [routerLink]="['likes']"> Likes </a>
		  
		</nav>
		<mat-tab-nav-panel #tabPanel><router-outlet></router-outlet></mat-tab-nav-panel>
	</div>
</div>