.col-body {
  width: 100%;
  min-height: 620px;
  margin-top: 20px;
}


.no-results {
  padding: 20px;
  text-align: center;
  font-style: italic;
}

.profile-header {
  height: 180px;
  background-image: none;
  background-position: center !important; 
  background-repeat: no-repeat !important; 
  background-size: cover !important;
}

/*
*   FROM: 
*   https://uigradients.com/
*/
.profile-header.socialive {
  background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.profile-header.frozen {
  background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.profile-header.celestial {
  background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-header.vision-of-grandeur {
  background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-header.what-lies-beyond {
  background: #F0F2F0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.profile-header.pacific-dream {
  background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.profile-subheader {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -40px;
  min-height: 80px;
  overflow: auto;
}
.profile-img {
  width: 100%;
  text-align: center;
}
.profile-info {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-left: 0px;
}
.profile-info h2 {
  margin-bottom: 6px;
}
.profile-actions {
  width: 100%;
  text-align: center;
  padding-top: 4px;
}
.profile-actions .mat-stroked-button,
.profile-actions .mat-flat-button {
  margin-left: 10px;
  margin-bottom: 6px;
}
.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  border: 2px solid;
}
@media (min-width: 800px) {
  .profile-img {
    float: left;
    width: 20%;
  }
  .profile-info {
    float: left;
    width: 40%;
    text-align: left;
    padding-top: 60px;
    padding-left: 10px;
  }
  .profile-actions {
    width: 40%;
    float: left;
    padding-top: 60px;
  }
  .address {
    justify-content: left !important;
  }
}


.address {
  font-size: 12px;
  font-weight: normal;
  justify-content: center;
}

.bio {
  font-size: 14px;
  text-align: center;
  padding-top: 12px;
}

.user-link {
  text-decoration: none;
  margin-bottom: 6px;
  display: block;
}

.active {
  opacity: 1;
}

.mat-tab-label, .mat-tab-link {
  letter-spacing: 1px;
}