.active {
	background-color: rgba(221, 221, 221, 0.1);
	border-left: 4px solid;
	font-weight: bold;
}

.active div {
	font-weight: bold;
}

.mat-list-base {
	padding-top: 0px;
}

.mat-list-item {
	letter-spacing: 2px;
}

.mat-line {
	margin-left: 10px;
}