<mat-nav-list *ngIf="account">
  <a 
    mat-list-item
    matRipple
    [routerLink]="['home']" 
    [routerLinkActive]="['active', 'border-color-theme']"
    #rlaHome="routerLinkActive">
    <mat-icon 
      mat-list-icon 
      [class]="{ 'material-icons-outlined': !rlaHome.isActive }" 
      [color]="rlaHome.isActive ? 'accent' : 'default'">home</mat-icon>
    <div mat-line>{{ 'MAIN_MENU.HOME' | translate }}</div>
  </a>
  <a mat-list-item
    matRipple
    [routerLink]="['browse']" 
    [routerLinkActive]="['active', 'border-color-theme']"
    #rlaSearch="routerLinkActive">
    <mat-icon 
      mat-list-icon
      [class]="{ 'material-icons-outlined': !rlaSearch.isActive }" 
      [color]="rlaSearch.isActive ? 'accent' : 'default'">tag</mat-icon>
    <div mat-line>Browse</div>
  </a>
  <a mat-list-item
    matRipple
    [routerLink]="account" 
    [routerLinkActive]="['active', 'border-color-theme', 'color-accent-theme']"
    #rlaProfile="routerLinkActive">
    <mat-icon
      mat-list-icon
      [class]="{ 'material-icons-outlined': !rlaProfile.isActive }" 
      [color]="rlaProfile.isActive ? 'accent' : 'default'">person</mat-icon>
    <div mat-line>{{ 'MAIN_MENU.PROFILE' | translate }}</div>
  </a>
  <a mat-list-item
    matRipple
    [routerLink]="['votes']" 
    [routerLinkActive]="['active', 'border-color-theme']"
    #rlaVotes="routerLinkActive">
    <mat-icon
      mat-list-icon
      [class]="{ 'material-icons-outlined': !rlaVotes.isActive }" 
      [color]="rlaVotes.isActive ? 'accent' : 'default'">how_to_vote</mat-icon>
    <div mat-line>Votes</div>
  </a>
  <a mat-list-item
    matRipple
    [routerLink]="['squares']" 
    [routerLinkActive]="['active', 'border-color-theme']"
    #rlaSquares="routerLinkActive">
    <mat-icon
      mat-list-icon
      [class]="{ 'material-icons-outlined': !rlaSquares.isActive }" 
      [color]="rlaSquares.isActive ? 'accent' : 'default'">groups</mat-icon>
    <div mat-line>Squares</div>
  </a>
  <a mat-list-item
    matRipple
    [routerLink]="['settings']" 
    [routerLinkActive]="['active', 'border-color-theme']"
    #rlaSettings="routerLinkActive">
    <mat-icon
      mat-list-icon
      [class]="{ 'material-icons-outlined': !rlaSettings.isActive }" 
      [color]="rlaSettings.isActive ? 'accent' : 'default'">settings</mat-icon>
    <div mat-line>{{ 'MAIN_MENU.SETTINGS' | translate }}</div>
  </a>
</mat-nav-list>

<mat-nav-list *ngIf="!account">
  <a 
    mat-list-item
    matRipple
    [routerLink]="['home']" 
    [routerLinkActive]="['active', 'border-color-theme', 'color-accent-theme']"
    #rlaHome2="routerLinkActive">
    <mat-icon 
      mat-list-icon 
      [class]="{ 'material-icons-outlined': !rlaHome2.isActive }" 
      [color]="rlaHome2.isActive ? 'accent' : 'default'">house</mat-icon>
    <div mat-line>{{ 'MAIN_MENU.HOME' | translate }}</div>
  </a>
  <a mat-list-item
    matRipple
    [routerLink]="['settings']" 
    [routerLinkActive]="['active', 'border-color-theme', 'color-accent-theme']"
    #rlaSettings2="routerLinkActive">
    <mat-icon
      mat-list-icon
      [class]="{ 'material-icons-outlined': !rlaSettings2.isActive }" 
      [color]="rlaSettings2.isActive ? 'accent' : 'default'">settings</mat-icon>
    <div mat-line>{{ 'MAIN_MENU.SETTINGS' | translate }}</div>
  </a>
</mat-nav-list>