<div class="address-container nowrap">
	<div class="address-tx ellipsis">
		<strong><ng-content></ng-content></strong>
		<span>{{ prependSymbol && isAddress ? prependSymbol : '' }}</span>{{ ellipsis ? applyEllipsis(address) : address }} 
	</div>
	<a 
		class="icon-btn-sp"
		matTooltip="Vouched user!"
		target="_blank" 
		href="https://vouchdao.xyz/"
		*ngIf="vouched && showVouchedBtn">
		<mat-icon class="blue-tick">verified_user</mat-icon>
	</a>
	<a 
		matTooltip="{{ 'GENERAL.BUTTONS.OPEN_VIEWBLOCK' | translate }}"
		target="_blank"
		*ngIf="isAddress && showOpenVieblockBtn"
		href="https://viewblock.io/arweave/address/{{address}}"
		(click)="$event.stopPropagation()">
		<mat-icon>open_in_new</mat-icon>
	</a>
	<a 
		matTooltip="{{ 'GENERAL.BUTTONS.OPEN_VIEWBLOCK' | translate }}"
		target="_blank"
		*ngIf="!isAddress && showOpenVieblockBtn"
		href="https://viewblock.io/arweave/tx/{{address}}">
		<mat-icon>open_in_new</mat-icon>
	</a>
	<a 
		[matTooltip]="'GENERAL.BUTTONS.COPY_ID' | translate"
		target="_blank"
		*ngIf="showCopyBtn"
		(click)="copyClipboard(address, 'Copied to clipboard!', $event)">
		<mat-icon>content_copy</mat-icon>
	</a>
</div>