<mat-progress-bar 
  *ngIf="platformLoading$ | async"
  class="main-loader" 
  mode="indeterminate"></mat-progress-bar>
<app-main-toolbar
  (toggleEvent)="toggle($event)"></app-main-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    mode="side" 
    [autoFocus]="false"
    position="start"
    [(opened)]="opened">
    <app-main-menu></app-main-menu>
  </mat-sidenav>
  <mat-sidenav-content id="ww-mat-sidenav-main-content">
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
