.more-results-container {
  padding-top: 20px;
}
.mat-spinner {
  margin: 0 auto;
}
.no-results {
  padding: 20px;
  text-align: center;
  font-style: italic;
}
.post-list-container {
  padding-top: 2px;
}
