.more-results-container {
  padding-top: 20px;
}
.mat-mdc-progress-spinner {
  margin: 0 auto;
}
.no-results {
  padding: 20px;
  text-align: center;
  font-style: italic;
}
.post-list-container {
  padding-top: 2px;
}
.replies-subtitle {
  padding: 20px;
  margin: 10px 0px 10px 0px;
}
.more-results-card {
  cursor: pointer;
  border-radius: 0px;
  width: 100%;
  margin-top: 20px;
  height: 50px;
  margin-bottom: 60px;
}
.more-results-container {
  padding-top: 20px;
}
.more-results {
  font-weight: bold;
  font-style: italic;
}

.likes-subtitle {
  padding: 20px;
  margin: 10px 0px 10px 0px;
  font-size: 12px;
  font-style: italic;
}

.likes-subtitle .mat-icon {
  font-size: 14px !important;
  width: 14px;
  height: 14px;
}

.likes-subtitle span {
  margin-left: 10px;
}