<div class="post-list-container">
	<ng-container
		*ngFor="let like of likes">
		<h4 class="label-likes">
			<mat-icon aria-label="Likes" color="warn">favorite</mat-icon>
		{{mainUsername}} liked:</h4>
		<app-post-card
			[txId]="extractTagFromTx(like, 'Like-Target')!"
			[fullMode]="false"></app-post-card>
	</ng-container>
</div>
<div class="more-results-container">
	<mat-spinner *ngIf="loadingLikes" color="accent" diameter="32"></mat-spinner>
	<div class="no-results" *ngIf="!likes.length && !loadingLikes">
		{{ 'GENERAL.LABELS.NO_RESULTS' | translate }}
	</div>
	<mat-card 
		#moreResultsCard 
		[style.visibility]="!loadingLikes && moreResultsAvailable ? 'visible' : 'hidden'"
		class="more-results-card mat-elevation-z0"
		matRipple
		(click)="moreResults()" >
	  <mat-card-content class="more-results text-center">
			{{ 'GENERAL.LABELS.SHOW_OLDER_RESULTS' | translate }}
	  </mat-card-content>
	</mat-card>
</div>