<mat-card class="post-card">
	<div class="fadeIn">
		<mat-card-content class="card-content">
			<div class="avatar-container" *ngIf="loading">
				<ngx-skeleton-loader appearance="circle" [theme]="{ 'height.px': 42, 'width.px': 42, 'marginTop.px': 0 }"></ngx-skeleton-loader>
			</div>
			<div class="message-container" *ngIf="loading">
			  <ngx-skeleton-loader
			  	appearance="line" 
			  	[theme]="{ 'height.px': 66, 'marginBottom.px': 0, 'marginTop.px': 0 }"></ngx-skeleton-loader>
			</div>
			<div class="avatar-container" *ngIf="!loading">
			  <img class="avatar" mat-card-avatar src="assets/img/blank-profile.png">
			</div>
			<div class="message-container" [ngClass]="{ 'hide': loading }">
			  <div class="message fadeIn" #postMessage></div>
			</div>
		</mat-card-content>
		<mat-card-actions align="end">
			
		</mat-card-actions>
	</div>
	
	<mat-card-footer *ngIf="loading" class="fadeIn">
    <mat-progress-bar color="accent" [mode]="loading ? 'indeterminate' : 'determinate'" value="0" ></mat-progress-bar>
  </mat-card-footer>
</mat-card>