<h4 class="label-reposted" *ngIf="isReposted">
	<mat-icon aria-label="Reposted" color="accent">repeat</mat-icon>
	Reposted:
</h4>
<mat-card
	class="post-card fadeIn mat-elevation-z0"
	*ngIf="post"
	[routerLink]="['/', post.owner, post.id]">
	<mat-card-content>
		<div [ngClass]="{ 'card-content': !fullMode } ">
			<div class="avatar-container" *ngIf="!fullMode">
				<ngx-skeleton-loader 
						*ngIf="loadingProfile"
						[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
						appearance="circle"
						[theme]="{ 'height.px': 62, 'width.px': 62, 'marginTop.px': 0 }"></ngx-skeleton-loader>
			  <img
			  	class="avatar"
			  	*ngIf="!loadingProfile"
			  	(click)="$event.stopPropagation()"
			  	[routerLink]="['/', post.owner]"
			  	mat-card-avatar
			  	[src]="profileImage">
			</div>
			<div class="text-center" *ngIf="fullMode">
				<ngx-skeleton-loader 
					class="avatar-fullmode-main"
					*ngIf="loadingProfile"
					[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
					appearance="circle"
					[theme]="{ 'height.px': 62, 'width.px': 62, 'marginTop.px': 0 }"></ngx-skeleton-loader>
				<img
			  	class="avatar-fullmode-main"
			  	*ngIf="!loadingProfile"
			  	(click)="$event.stopPropagation()"
			  	[routerLink]="['/', post.owner]"
			  	mat-card-avatar
			  	[src]="profileImage">
			  
			</div>
			<div class="story-container">
				<div class="story-title">
					<ngx-skeleton-loader 
						*ngIf="loadingProfile && fullMode"
						[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
						appearance="circle"
						[theme]="{ 'height.px': 62, 'width.px': 62, 'marginTop.px': 0, 'marginRight.px': 12 }"></ngx-skeleton-loader>
				  <img
				  	class="avatar-fullmode"
				  	*ngIf="!loadingProfile && fullMode"
				  	(click)="$event.stopPropagation()"
				  	[routerLink]="['/', post.owner]"
				  	mat-card-avatar
				  	[src]="profileImage">

					<h2 
						class="profile-name-container"
						*ngIf="!loadingProfile"
						(click)="$event.stopPropagation()"
						[routerLink]="['/', post.owner]">
						<span
							*ngIf="profile && profile.name"
							[ngClass]=" {'fullmode': fullMode }"
							class="ellipsis nowrap profile-name">{{ profile.name }}</span>
						<small
							*ngIf="profile && profile.username"
							class="profile-username"
							[ngClass]=" {'fullmode': fullMode }">
							{{ profile.username }}
						</small>
						<small
							*ngIf="post"
							class="profile-address"
							[ngClass]=" {'fullmode': fullMode }">
							<app-arweave-address
								[address]="post.owner"
								[showCopyBtn]="false"
								[showOpenVieblockBtn]="false"
								[showVerifiedBtn]="true"
								class="address"></app-arweave-address>
						</small>
						<small
							class="profile-story-date"
							*ngIf="post && post.blockTimestamp"
							[ngClass]=" {'fullmode': fullMode }">
							· {{ post.blockTimestamp }}
						</small>
					</h2>
					<div class="profile-secondary-actions text-right">
						<button
							mat-icon-button
							(click)="$event.stopPropagation(); goBack()"
							color="accent"
							*ngIf="fullMode"
							aria-label="Go back">
		          <mat-icon>arrow_back</mat-icon>
		        </button>
						<button
							mat-icon-button
							(click)="$event.stopPropagation()"
							color="accent"
							aria-label="More options"
							[matMenuTriggerFor]="moreOptionsMenu">
		          <mat-icon>more_horiz</mat-icon>
		        </button>
		        <mat-menu #moreOptionsMenu="matMenu">
		        	<mat-list class="tx-info-container">
				        <mat-list-item>
				        	<h3 matLine>
				            TX Info
				          </h3>
				          <div matLine>
				            <app-arweave-address
				              [address]="post.id"
				              [isAddress]="false"
				              class="small-username-2">Id: </app-arweave-address>
				          </div>
				        </mat-list-item>
				        <mat-list-item 
				        	class="tx-metadata-chips"
				        	*ngIf="!loadingContent && !(post && (!post.blockId || post.blockHeight == 0))">
						  		<h4 class="meta" matLine>Tx metadata:</h4>
						  		<span matLine *ngIf="application">Application: {{ application }} </span>
									<span matLine *ngIf="appName" >App-Name: {{ appName }}</span>
									<span matLine *ngIf="service">Service: {{ service }} </span>
									<span matLine *ngIf="postType" >Post type: {{ postType }}</span>
									<span matLine *ngIf="postContentType" >Content type: {{ postContentType }}</span>
									<span matLine *ngIf="owner" >Owner: {{ owner }}</span>
									<span matLine *ngIf="postVersion" >Version: {{ postVersion }}</span>
				        </mat-list-item>
				      </mat-list>
						</mat-menu>
					</div>

					<ngx-skeleton-loader
						[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
				  	appearance="line" 
				  	*ngIf="loadingProfile"
				  	[theme]="{ 'height.px': 22, 'width': '60%', 'marginBottom.px': 12, 'marginTop.px': 0 }"></ngx-skeleton-loader>
				</div>
			  <ngx-skeleton-loader
					[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
			  	appearance="line" 
			  	*ngIf="loadingContent"
			  	[theme]="{ 'height.px': 18, 'marginBottom.px': 8, 'marginTop.px': 0, 'width': '100%' }"></ngx-skeleton-loader>
			  <ngx-skeleton-loader
					[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
			  	appearance="line" 
			  	*ngIf="loadingContent"
			  	[theme]="{ 'height.px': 18, 'marginBottom.px': 8, 'marginTop.px': 0, 'width': '100%' }"></ngx-skeleton-loader>
				<ngx-skeleton-loader
					[animation]="isDarkTheme ? 'progress-dark' : 'progress'"
			  	appearance="line" 
			  	*ngIf="loadingContent"
			  	[theme]="{ 'height.px': 18, 'marginBottom.px': 20, 'marginTop.px': 0, 'width': '90%' }"></ngx-skeleton-loader>
			  <!-- Story type: text -->
			  <ng-container *ngIf="validateContentType(postContentType, 'text')">
				  <div 
				  	#contentContainer
				  	class="content fadeIn">
				  	<!-- Preview -->
				  	<p 
				  		*ngIf="!loadingContent && content"
				  		[innerHTML]="content">
				  	</p>
				  	<div 
				  		*ngIf="!loadingContent && originalRawContent && showStoryMoreTextBtn()" 
				  		class="text-right">
				  		<button 
			        	mat-button
			        	class="btn-see-more"
			        	color="accent"
			        	(click)="readMore($event)"
			        	aria-label="See more" matTooltip="See more">
			        	See more
				      </button>
				  	</div>
				  </div>
			 	</ng-container>
			  <div 
			  	*ngIf="!loadingContent && contentError clear-both"
			  	class="content-error fadeIn">
			  	<span>
			  		{{ contentError }}
			  	</span>
			  	<button 
	        	mat-icon-button
	        	class="btn-open-anyway"
	        	(click)="openStory($event, post.id)"
	        	aria-label="Open in new window" matTooltip="Open in new window">
	        	<mat-icon class="material-icons-outlined">open_in_new</mat-icon>
		      </button>
			  </div>
			  <div class="clear-both" *ngIf="substories.length">
			  	<app-post-player
			  		[substories]="substories"
			  		[fullMode]="fullMode"></app-post-player>
			  </div>
			  <div 
			  	*ngIf="post && (!post.blockId || post.blockHeight == 0) "
			  	class="fadeIn pending">
			  	<span>Pending TX</span>
			  	<mat-spinner class="" color="accent" diameter="26"></mat-spinner>
			  </div>
				
				
			</div>
			<!-- /story-container -->
		</div>
	</mat-card-content>
	<mat-card-actions>
		<div 
	  	*ngIf="!loadingContent && !(post && (!post.blockId || post.blockHeight == 0)) && showActions"
	  	class="fadeIn story-actions">
	  	<div class="action-btn-wrapper">
        <button 
        	mat-button 
        	class="blue-hover"
        	(click)="reply($event)"
        	aria-label="Reply">
	        <mat-icon class="material-icons-outlined">reply</mat-icon>
        	<div>{{ 'GENERAL.STORY.REPLY' | translate }}</div>
	      </button>
      </div>
	  	<div class="action-btn-wrapper">
	  		<button
	  			mat-button
	  			class="green-hover"
	  			(click)="repost($event)"
	  			aria-label="Repost">
	        <mat-icon class="material-icons-outlined">repeat</mat-icon>
	        <div>{{ 'GENERAL.STORY.REPOST' | translate }}</div>
	      </button>
	  	</div>
      <div class="action-btn-wrapper">
      	<button
      		mat-button
      		class="pink-hover"
      		aria-label="Like"
      		(click)="like($event)">
	        <mat-icon class="material-icons-outlined">favorite</mat-icon>
        	<div>{{ 'GENERAL.STORY.LIKE' | translate }}</div>
	      </button>
	  	</div>
      <div class="action-btn-wrapper">
      	<button
      		mat-button
      		class="orange-hover"
      		aria-label="Share Story"
      		(click)="share($event)">
	        <mat-icon class="material-icons-outlined">share</mat-icon>
        	<div>{{ 'GENERAL.STORY.SHARE' | translate }}</div>
	      </button>
	  	</div>
	  </div>
	  
	</mat-card-actions>
</mat-card>
<mat-divider></mat-divider>