.info-container h2 {
	margin-top: 12px;
	padding: 20px 0px 0px 20px;
	display: flex;
}

h2 .header-icon {
	font-size: 28px;
}

h2 span {
	margin-left: 12px;
}

.info-container h3 {
	padding: 20px 0px 0px 20px;

}

.info-container p {
	padding: 20px;
}
.info-container .mat-list {
	padding: 20px;
}

.info-container .mat-button {
	font-size: 14px !important;
}

.mat-list-item {
	font-size: 14px;
}

.mat-list-item span {
	margin-left: 6px;
}

.mat-button {
	margin-left: 12px;
}

.mat-button.active {
	font-weight: bold;
	text-decoration: underline;
}

.select-language h3 {
	margin: 12px 0px 20px 0px;
}