<h2>Edit profile</h2>
<ng-container *ngIf="mainAddress && isValidUser()">
	<div class="profile-image" >
		<h4>Profile image</h4>
		<img
			class="avatar border-same-as-background mat-elevation-z2"
			mat-card-avatar [src]="profileImage">
		<div class="profile-image-actions">
			<button 
				mat-stroked-button
				color="accent"
				[disabled]="loadingSavingProfile || validatingUsername"
				(click)="uploadFile('image')"
				type="button"><mat-icon class="material-icons-outlined">image</mat-icon> Upload file</button>
			<button
				mat-stroked-button
				color="accent"
				[disabled]="loadingSavingProfile || validatingUsername"
				(click)="fileManager('image')"
				type="button"><mat-icon>perm_media</mat-icon> File manager</button>
			<button
				mat-stroked-button
				color="warn"
				[disabled]="loadingSavingProfile || validatingUsername"
				(click)="removeProfileImage()"
				type="button"><mat-icon>delete</mat-icon> Remove image</button>
		</div>
	</div>
	<div class="profile-form">
		<h4>Profile info</h4>
		<form [formGroup]="profileFrm" (ngSubmit)="submitProfile()">
		  <mat-form-field class="profile-field" appearance="outline" color="accent">
		    <mat-label>Username</mat-label>
		    <input
		    	matInput
		    	placeholder=""
		    	autocomplete="off"
		    	formControlName="username">
		    <mat-error *ngIf="username.invalid">*Username already taken.</mat-error>
		  </mat-form-field>
		  <mat-form-field class="profile-field" appearance="outline" color="accent">
		    <mat-label>Name</mat-label>
		    <input matInput placeholder="" value="" autocomplete="off" formControlName="name">
		  </mat-form-field>
		  <mat-form-field class="profile-field" appearance="outline" color="accent">
		    <mat-label>Bio</mat-label>
		    <textarea rows="5" matInput placeholder="" autocomplete="off" formControlName="bio"></textarea>
		  </mat-form-field>
		  <h3 class="subtitle">Addresses</h3>
		  <div class="addresses-container">{{ mainAddress }}</div>
		  <h3 class="subtitle">Links</h3>
		  <mat-form-field class="profile-field" appearance="outline" color="accent">
		    <mat-label>Twitter</mat-label>
		    <input matInput placeholder="Your Twitter username" value="" autocomplete="off"  formControlName="twitter">
		  </mat-form-field>
		  <mat-form-field class="profile-field" appearance="outline" color="accent">
		    <mat-label>Github</mat-label>
		    <input matInput placeholder="Your Github username" value="" autocomplete="off"  formControlName="github">
		  </mat-form-field>
		  <mat-form-field class="profile-field" appearance="outline" color="accent">
		    <mat-label>Instagram</mat-label>
		    <input matInput placeholder="Your Instagram username" value="" autocomplete="off"  formControlName="instagram">
		  </mat-form-field>
		  <mat-form-field class="profile-field" appearance="outline" color="accent">
		    <mat-label>Facebook</mat-label>
		    <input matInput placeholder="Your Facebook username" value="" autocomplete="off"  formControlName="facebook">
		  </mat-form-field>
		  <div class="text-right action-panel">
		  	<button [disabled]="!profileFrm.valid || loadingSavingProfile || validatingUsername" color="accent" mat-flat-button >
		  		<mat-icon>save</mat-icon>
		  		<span>Save profile</span>
		  	</button>
		  </div>
		</form>
	</div>	
</ng-container>

<div class="profile-container" *ngIf="!mainAddress">
	Please login first.
</div>

<div class="profile-container" *ngIf="!isValidUser() && mainAddress">
	You don't have enough privileges for editing this profile.
</div>