<div class="profile-container" *ngIf="mainAddress">
	<h2>Edit profile</h2>
	<h4>Banner image</h4>
	<p>The image at the top of your profile.</p>
	<div class="profile-header mat-elevation-z2 frozen"></div>
	<p class="action-panel">
		<button 
			mat-flat-button
			color="accent"
			(click)="uploadFile('image')"
			type="button"><mat-icon class="material-icons-outlined">image</mat-icon> Upload file</button>
		<button
			mat-flat-button
			color="accent"
			(click)="fileManager('image')"
			type="button"><mat-icon>perm_media</mat-icon> File manager</button>
		<button
			mat-flat-button
			color="accent"
			disabled
			(click)="fileManager('image')"
			type="button"><mat-icon>save</mat-icon> Save changes</button>
	</p>
	<h4>Profile image</h4>
	<p>Your profile image.</p>
</div>
<div class="profile-container" *ngIf="!mainAddress">
	Please login first.
</div>