h4, p {
  margin-bottom: 20px;
}

h2 {
  padding: 20px;
}

.action-panel{
  margin-top: 20px;
}
.action-panel button {
  margin-left: 20px;
  margin-bottom: 12px;
}
.profile-container {
  padding: 20px;
}

.progress-bar-header {
}
.profile-image {
  padding: 20px;
  width: 100%;
  float: left;
  text-align: center;
}
.profile-form {
  padding: 20px;
  width: 100%;
  float: left;
}

@media (min-width: 600px) {
  .profile-image {
    width: 30%;
    float: left;
  }
  .profile-form {
    width: 70%;
    float: left;
  }
  .profile-image-actions {
    text-align: left !important;
  }
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  border: 2px solid;
}

.profile-form {
  padding: 20px 40px 20px 40px;
}

.profile-field {
  width: 100%;
}

.action-panel button span {
  margin-left: 10px;
}

.subtitle {
  margin-bottom: 20px;
}
.addresses-container {
  margin-bottom: 12px;
  font-size: 12px;
}
.main-address {
  justify-content: right;
}
.profile-image-actions {
  text-align: center;
  width: 72%;
  margin: 0 auto;
  margin-top: 20px;
}
.profile-image-actions button {
  margin: 6px 3px 6px 3px;
}

.instructions {
  font-size: 13px;
}