h2, h4, p {
	margin-bottom: 20px;
}
.profile-header {
  height: 180px;
  margin-bottom: 20px;
}
.profile-header.frozen {
  background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.action-panel{

}
.action-panel button {
	margin-left: 20px;
}
.profile-container {
	padding: 20px;
}