.info-container h2 {
	margin-top: 12px;
	padding: 20px 0px 0px 20px;
	display: flex;
}

h2 .header-icon {
	font-size: 28px;
}

h2 span {
	margin-left: 12px;
}

.mat-list-item {
	font-size: 14px;
	word-break: normal;
	overflow-wrap: anywhere;
}

.mat-list-item span {
	margin-left: 6px;
}
.info-container h3 {
	padding: 20px 0px 0px 20px;

}
.info-container .mat-list {
	padding: 20px;
}

.info-container p {
	padding: 20px;
}

.loader-net-info {
	margin: 0 auto;
	width: 20%;
}

.point {
	font-weight: bold;
	font-size: 32px;
	line-height: 14px;
}

.connected {
	color: green;
}

.disconnected {
	color: red;
}