// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$public-square-font-family: 'Libre Baskerville';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$public-square-primary: mat.define-palette(mat.$indigo-palette);
$public-square-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$public-square-warn: mat.define-palette(mat.$red-palette);
$public-square-typography: mat.define-typography-config(
  $font-family: $public-square-font-family,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$public-square-theme: mat.define-light-theme((
  color: (
    primary: $public-square-primary,
    accent: $public-square-accent,
    warn: $public-square-warn,
  ),
  typography: $public-square-typography
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($public-square-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-family: $public-square-font-family, serif; }
* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.spacer {
	flex: 1 1 auto;
}