
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. 
@include mat.core();


// Default app font
$theme-font-family: 'Libre Baskerville';

$theme-typography: mat.define-typography-config(
  $font-family: $theme-font-family,
);

// Light theme
$light-theme-primary: mat.define-palette(mat.$grey-palette, A100);
$light-theme-accent: mat.define-palette(mat.$grey-palette, 900);

// The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-theme-primary,
    accent: $light-theme-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));

// Dark theme
$dark-theme-primary: mat.define-palette(mat.$grey-palette, 900);
$dark-theme-accent: mat.define-palette(mat.$grey-palette, A100);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $dark-theme-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));


/*
* THEME: Light Pink
*/
$light-pink-primary: mat.define-palette(mat.$grey-palette, A100);
$light-pink-accent: mat.define-palette(mat.$pink-palette, A400);
$light-pink-theme: mat.define-light-theme((
  color: (
    primary: $light-pink-primary,
    accent: $light-pink-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));
/*
* THEME: Dark Pink
*/
$dark-pink-primary: mat.define-palette(mat.$pink-palette, 600);
$dark-pink-accent: mat.define-palette(mat.$green-palette, A200);
$dark-pink-theme: mat.define-dark-theme((
  color: (
    primary: $dark-pink-primary,
    accent: $dark-pink-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));


/*
* THEME: Deep Purple
*/
// Define the palettes for your theme
$dark-deep-purple-primary: mat.define-palette(mat.$deep-purple-palette, A700);
$dark-deep-purple-accent: mat.define-palette(mat.$light-green-palette, A400);
$dark-deep-purple-theme: mat.define-dark-theme((
  color: (
    primary: $dark-deep-purple-primary,
    accent: $dark-deep-purple-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));

/*
* THEME: Light Blue
*/
$light-blue-primary: mat.define-palette(mat.$grey-palette, A100);
$light-blue-accent: mat.define-palette(mat.$light-blue-palette, 900);
$light-blue-theme: mat.define-light-theme((
  color: (
    primary: $light-blue-primary,
    accent: $light-blue-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));


/*
* THEME: Dark blue gray
*/
$dark-blue-gray-primary: mat.define-palette(mat.$blue-gray-palette, 900);
$dark-blue-gray-accent: mat.define-palette(mat.$blue-gray-palette, A200);
$dark-blue-gray-theme: mat.define-dark-theme((
  color: (
    primary: $dark-blue-gray-primary,
    accent: $dark-blue-gray-accent,
    warn: $theme-warn,
  ),
  typography: $theme-typography
));



// Define all themes
.light-theme {
  @include mat.all-component-colors($light-theme);
  .border-color-theme {
    border-color: mat.get-color-from-palette($light-theme-accent, 'default') !important;
  }
  .background-color-theme {
    background-color: mat.get-color-from-palette($light-theme-accent, 'default') !important;
  }
  .color-accent-theme,
  .mdc-list-item--with-leading-icon:hover .mdc-list-item__start {
    color: mat.get-color-from-palette($light-theme-accent, 'default') !important;
  }

  .mat-drawer-container {
    background-color: #FFFFFF;
  }

  .border-right-special {
    border-color: rgba(0, 0, 0, 0.12) !important;
  }

  .border-same-as-background {
    border-color: #FFFFFF !important;
  }

  .small-username {
    color: rgb(20, 20, 20, 0.8);
  }
  .small-username-2 {
    color: rgb(20, 20, 20, 0.8);
  }
  .substory-container {
    background-color: #FFF;
  }
  .theme-text-color {
    color: #000;
  }
}
.dark-theme {
  @include mat.all-component-colors($dark-theme);
  .border-color-theme {
    border-color: mat.get-color-from-palette($light-theme-primary, 'default') !important;
  }
  .background-color-theme {
    background-color: mat.get-color-from-palette($light-theme-accent, 'default') !important;
  }
  .color-accent-theme,
  .mdc-list-item--with-leading-icon:hover .mdc-list-item__start {
    color: mat.get-color-from-palette($light-theme-primary, 'default') !important;
  }
  .mat-drawer-container{
    background-color: #0f0f0f;
  }
  .mat-mdc-dialog-container,
  .mat-mdc-dialog-container .mat-mdc-card,
  .mat-bottom-sheet-container,
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    background-color: #3F3F3F;
  }
  .mat-drawer, .mat-mdc-menu-panel {
    background-color: #212121;
  }

  .mat-mdc-card, .substory-container {
    background-color: #0f0f0f;
  }
  .border-same-as-background {
    border-color: #0f0f0f !important;
  }
  .post-card:hover {
    box-shadow: 0px 3px 3px -2px rgb(253 253 253 / 20%), 0px 3px 4px 0px rgb(253 253 253 / 14%), 0px 1px 8px 0px rgb(253 253 253 / 12%) !important;
  }
  .theme-text-color {
    color: #FFF;
  }
}
.light-pink-theme {
  @include mat.all-component-colors($light-pink-theme);
  .border-color-theme {
    border-color: mat.get-color-from-palette($light-pink-accent, 'default') !important;
  }
  .background-color-theme {
    background-color: mat.get-color-from-palette($light-pink-accent, 'default') !important;
  }
  .color-accent-theme,
  .mdc-list-item--with-leading-icon:hover .mdc-list-item__start {
    color: mat.get-color-from-palette($light-pink-accent, 'default') !important;
  }
  .mat-drawer-container {
    background-color: #FFFFFF;
  }
  .border-right-special {
    border-color: rgba(0, 0, 0, 0.12) !important;
  }
  .border-same-as-background {
    border-color: #FFFFFF !important;
  }
  .small-username {
    color: rgb(20, 20, 20, 0.8);
  }
  .small-username-2 {
    color: rgb(20, 20, 20, 0.8);
  }
  .substory-container {
    background-color: #FFF;
  }
  .theme-text-color {
    color: #000;
  }
}
.dark-deep-purple-theme {
  @include mat.all-component-colors($dark-deep-purple-theme);
  .border-color-theme {
    border-color: mat.get-color-from-palette($dark-deep-purple-accent, 'default') !important;
  }
  .background-color-theme {
    background-color: mat.get-color-from-palette($dark-deep-purple-accent, 'default') !important;
  }
  .color-accent-theme,
  .mdc-list-item--with-leading-icon:hover .mdc-list-item__start {
    color: mat.get-color-from-palette($dark-deep-purple-accent, 'default') !important;
  }
  .mat-drawer-container {
    background-color: #0f0f0f;
  }
  .mat-mdc-dialog-container,
  .mat-mdc-dialog-container .mat-mdc-card,
  .mat-bottom-sheet-container,
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    background-color: #3F3F3F;
  }
  .mat-drawer, .mat-mdc-menu-panel {
    background-color: #212121;
  }

  .mat-mdc-card, .substory-container {
    background-color: #0f0f0f;
  }
  .border-same-as-background {
    border-color: #0f0f0f !important;
  }
  .post-card:hover {
    box-shadow: 0px 3px 3px -2px rgb(253 253 253 / 20%), 0px 3px 4px 0px rgb(253 253 253 / 14%), 0px 1px 8px 0px rgb(253 253 253 / 12%) !important;
  }
  .theme-text-color {
    color: #FFF;
  }
}

.dark-pink-theme {
  @include mat.all-component-colors($dark-pink-theme);
  .border-color-theme {
    border-color: mat.get-color-from-palette($dark-pink-accent, 'default') !important;
  }
  .background-color-theme {
    background-color: mat.get-color-from-palette($dark-pink-accent, 'default') !important;
  }
  .color-accent-theme,
  .mdc-list-item--with-leading-icon:hover .mdc-list-item__start {
    color: mat.get-color-from-palette($dark-pink-accent, 'default') !important;
  }
  .mat-drawer-container {
    background-color: #0f0f0f;
  }
  .mat-mdc-dialog-container,
  .mat-mdc-dialog-container .mat-mdc-card,
  .mat-bottom-sheet-container,
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    background-color: #3F3F3F;
  }
  .mat-drawer, .mat-mdc-menu-panel {
    background-color: #212121;
  }

  .mat-mdc-card, .substory-container {
    background-color: #0f0f0f;
  }
  .border-same-as-background {
    border-color: #0f0f0f !important;
  }
  .post-card:hover {
    box-shadow: 0px 3px 3px -2px rgb(253 253 253 / 20%), 0px 3px 4px 0px rgb(253 253 253 / 14%), 0px 1px 8px 0px rgb(253 253 253 / 12%) !important;
  }
  .theme-text-color {
    color: #FFF;
  }
}
.light-blue-theme {
  @include mat.all-component-colors($light-blue-theme);
  .border-color-theme {
    border-color: mat.get-color-from-palette($light-blue-accent, 'default') !important;
  }
  .background-color-theme {
    background-color: mat.get-color-from-palette($light-blue-accent, 'default') !important;
  }
  .color-accent-theme,
  .mdc-list-item--with-leading-icon:hover .mdc-list-item__start {
    color: mat.get-color-from-palette($light-blue-accent, 'default') !important;
  }
  .mat-drawer-container {
    background-color: #FFFFFF;
  }
  .border-right-special {
    border-color: rgba(0, 0, 0, 0.12) !important;
  }
  .border-same-as-background {
    border-color: #FFFFFF !important;
  }
  .small-username {
    color: rgb(20, 20, 20, 0.8);
  }
  .small-username-2 {
    color: rgb(20, 20, 20, 0.8);
  }
  .substory-container {
    background-color: #FFF;
  }
  .theme-text-color {
    color: #000;
  }
}

.dark-blue-gray-theme {
  @include mat.all-component-colors($dark-blue-gray-theme);
  .border-color-theme {
    border-color: mat.get-color-from-palette($dark-blue-gray-accent, 'default') !important;
  }
  .background-color-theme {
    background-color: mat.get-color-from-palette($dark-blue-gray-accent, 'default') !important;
  }
  .color-accent-theme,
  .mdc-list-item--with-leading-icon:hover .mdc-list-item__start {
    color: mat.get-color-from-palette($dark-blue-gray-accent, 'default') !important;
  }
  .mat-drawer-container {
    background-color: rgb(27, 39, 51);

  }
  .mat-mdc-dialog-container,
  .mat-mdc-dialog-container .mat-mdc-card,
  .mat-bottom-sheet-container,
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    background-color: rgb(27, 39, 51);
  }
  .mat-drawer, .mat-mdc-menu-panel, .mat-toolbar, .mat-mdc-unelevated-button.mat-primary {
    background-color: #161F29 !important;
  }

  .mat-mdc-card, .substory-container {
    background-color: rgb(27, 39, 51);
  }
  .border-same-as-background {
    border-color: #0f0f0f !important;
  }
  .post-card:hover {
    box-shadow: 0px 3px 3px -2px rgb(253 253 253 / 20%), 0px 3px 4px 0px rgb(253 253 253 / 14%), 0px 1px 8px 0px rgb(253 253 253 / 12%) !important;
  }
  .theme-text-color {
    color: #FFF;
  }
  
}

/* Global styles */
html, body { height: 100%; }
body {
  font-family: $theme-font-family, 'serif';
  padding-top: 60px;
}
* {
  font-family: $theme-font-family, 'serif';
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.spacer {
  flex: 1 1 auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}

/* FADE IN */
.fadeIn {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* /FADE IN */


/* GLOBAL STYLES FOR MATERIAL COMPONENTS */
.mat-mdc-snack-bar-container.error, .mat-snack-bar-container.error .mat-mdc-button{
  background-color: #f44336;
  color: #FFF;
}

.mat-mdc-snack-bar-container.success, .mat-snack-bar-container.success .mat-mdc-button{
  background-color: #3BC661;
  color: #FFF;
}

/*
// Remove background color from drawer bg
.mat-drawer-container {
  background-color: inherit;
}
*/

.secondary-toolbar {
  height: 42px;
}


.secondary-toolbar span {
  font-size: 12px;
  line-height: 42px;
  padding-top: 6px;
  font-style: italic;
}


/*
* codemirror
*/
.message .cm-scroller {
  min-height: 42px !important;
  max-height: 220px !important;
  overflow: auto !important;
}


.message .cm-editor:hover {
  border-bottom: 1px solid;
}

.message .cm-editor.cm-focused, .message .cm-editor:hover {
  outline-color: transparent;
  border-bottom: 0px solid;
  border-color: inherit;
}
.message .cm-content {
  caret-color: inherit;
}


/*
* /codemirror
*/

.hide {
  display: none !important;
}


.clear-both {
  clear: both;
}


.nowrap {
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
}

.word-break {
  word-break: break-word;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hide-xs {
  display: none !important;
}
.hide-sm {
  display: none !important;
}
.show-sm {
  display: inline !important;
}
@media (min-width: 800px) {
  .hide-sm {
    display: inline !important;
  }
  .show-sm {
    display: none !important;
  }
}

@media (min-width: 400px) {
  .hide-xs {
    display: inline !important;
  }
}

/*
* FIX EMOJI TABS WIDTH
*/
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.emoji-container .mat-tab-label {
  min-width: 72px !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.emoji-container .mat-tab-body-content {
  padding-top: 10px;
}
.mat-mdc-menu-content:not(:empty) {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

a {
  color: #0091f2;
}

.pink-hover:hover {
  color: rgb(255,1,93) !important;
}
.blue {
  color: #00a6f2 !important;
}
.blue-hover:hover {
  color: #00a6f2 !important;
}
.green {
  color: rgb(80,203,130) !important;
}
.green-hover:hover {
  color: rgb(80,203,130) !important;
}
.orange-hover:hover {
  color: #ffa72b !important;
}
.small-username {
  font-size: 14px;
  margin-bottom: 6px;
}
.small-username-2 {
  font-size: 12px;
  margin-bottom: 6px;
}
.blue-tick {
  color: #00a6f2 !important;
}

/*
* Default colors
*/
.small-username {
  color: rgb(220, 220, 220, 0.8);
}
.small-username-2 {
  color: rgb(220, 220, 220, 0.8);
}

/*
* Fix menu panel width
*/
@media (min-width: 600px) {
  .mat-mdc-menu-panel {
    max-width: 350px !important;
  }

}
/* FIX FORM */
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 24px;
  padding-bottom: 8px;
}
.mdc-text-field--filled {
  background-color: inherit !important;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 16px;
  padding-bottom: 16px;
}
/*
* FIX TEXTAREA LABEL
*/
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 28px !important;
}