.col-body {
  width: 100%;
  float: left;
  border-right: solid 1px rgba(250, 250, 250, 0.12);
  min-height: 100%;
  position: relative;
}

.col-side-features {
  display: none;
  position: relative;
  min-height: 100%;
}

.col-wrap {
  width: 100%;
  min-height: 100%;
  padding: 20px;
}


@media (min-width: 600px) {
  .col-body {
    width: 100%;
  }

  .col-side-features {
    width: 28%;
    float: left;
    display: block;
  }

}

.col-side-features mat-card {
  margin-bottom: 20px;
}

mat-divider {
  margin-top: 20px;
  margin-bottom: 0px;
}

.post-card-container {
  margin: 20px;
}

.more-results {
  font-weight: bold;
  font-style: italic;
}
.more-results-card {
  cursor: pointer;
  border-radius: 0px;
  width: 100%;
  margin-top: 20px;
  height: 50px;
  margin-bottom: 60px;
}

.more-results-container {
  padding-top: 20px;
}

.mat-spinner {
  margin: 0 auto;
}

.no-results {
  padding: 20px;
  text-align: center;
  font-style: italic;
}

.version-container .mat-card-content {
  font-size: 10px;
  text-align: right;
  font-style: italic;
  color: #CCC;
}

.btn-filter span {
  margin-left: 6px;
}