<div class="content">
	<div
		class="substory-container"
		*ngIf="substoryContent.loading">
		<mat-spinner color="accent" [diameter]="40" *ngIf="substoryContent.loading"></mat-spinner>
	</div>
	<!-- text -->
	<div
		class="substory-container"
		*ngIf="substoryContent.type === 'text/plain'  && !substoryContent.loading">
		<div
			class="text-error fadeIn"
			*ngIf="substoryContent.error">
			<p>
				{{ substoryContent.error }}
			</p>
			<button 
      	mat-icon-button
      	class="btn-open-anyway"
      	(click)="openStory($event, substory.id)"
      	aria-label="Open in new window" matTooltip="Open in new window">
      	<mat-icon class="material-icons-outlined">open_in_new</mat-icon>
      </button>
		</div>
	  <div
	  	#contentContainer
	  	*ngIf="substoryContent.content"
	  	class="content fadeIn">
	  	<!-- Story -->
	  	<p
	  		*ngIf="substoryContent.content && !substoryContent.loading"
	  		[innerHTML]="substoryContent.content">
			</p>
	  	<div class="text-right" *ngIf="!substoryContent.loading && substoryContent.raw && showStoryMoreTextBtn()">
	  		<button 
        	mat-button
        	class="btn-see-more"
        	color="accent"
        	(click)="seeMore($event)"
        	aria-label="See more" matTooltip="See more">
        	See more
	      </button>
	  	</div>
	  </div>
	</div>
	<!-- image -->
	<div
		class="substory-container image-container"
		*ngIf="substoryContent.type.indexOf('image') >= 0  && !substoryContent.loading">
		<mat-spinner color="accent" [diameter]="40" *ngIf="substoryContent.loading"></mat-spinner>
		<div
			class="text-error fadeIn"
			*ngIf="substoryContent.error">
			<p>
				{{ substoryContent.error }}
			</p>
			<button 
      	mat-icon-button
      	class="btn-open-anyway"
      	(click)="openStory($event, substory.id)"
      	aria-label="Open in new window" matTooltip="Open in new window">
      	<mat-icon class="material-icons-outlined">open_in_new</mat-icon>
      </button>
		</div>
		<div
			[routerLink]="['/', owner, substory.id]"
			class="image-container fadeIn"
			*ngIf="substoryContent.content"
			[ngStyle]="{ 'background-image': 'url(' + substoryContent.content + ')' }">
			
		</div>
	</div>

	<!-- Youtube Video -->
	<div
		class="substory-container youtube-container"
		*ngIf="substoryContent.type.indexOf('youtube') >= 0  && !substoryContent.loading">
		<mat-spinner color="accent" [diameter]="40" *ngIf="substoryContent.loading"></mat-spinner>
		<div
			class="text-error fadeIn"
			*ngIf="substoryContent.error">
			<p>
				{{ substoryContent.error }}
			</p>
			<button 
      	mat-icon-button
      	class="btn-open-anyway"
      	(click)="openLink($event, getYoutubeUrl(substory.id))"
      	aria-label="Open in new window" matTooltip="Open in new window">
      	<mat-icon class="material-icons-outlined">open_in_new</mat-icon>
      </button>
		</div>
		<div
			class="youtube-container fadeIn"
			*ngIf="substoryContent.content && !substoryContent.error">
			<iframe
				[src]="substoryContent.content" title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>


</div>