.content {
	float: left;
	width: calc(100% - 80px);
	height: 100%;
	position: relative;
	text-align: center;
	overflow-y: auto;
}

.substory-container {
	position: absolute;
	width: 100%;
	min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.substory-container.image {
	height: 100%;
}

.mat-mdc-progress-spinner {
	margin: 0 auto;
}

.content .image-container {
	width: 100%;
	height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.content .text-container {
	width: 100%;
	min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;

}

.content .text-container p {
	padding: 20px;
}

.content .text-error {
	width: 100%;
	height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;

  font-style: italic;

}

.content img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.btn-see-more {
	text-decoration: underline;
}

.content .youtube-container {
	width: 100%;
	height: 100%;
	padding: 0px 20px 0px 20px;
}

.content .youtube-container iframe {
	width: 100%;
	height: 100%;
}

@media (min-width: 600px) {
	.content {
		width: calc(100% - 120px);
	}
}


.content .video-container {
	width: 100%;
	height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.content .video-container video {
	max-width: 80%;
	min-width: 50%;
	text-align: center;
}

.content .audio-container {
	width: 100%;
	height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.content .audio-container video {
	max-width: 80%;
	min-width: 50%;
	text-align: center;
}