<mat-card class="post-card">
	<div class="fadeIn" *ngIf="loading">
			<div class="avatar-container">
			  <ngx-skeleton-loader appearance="circle" [theme]="{ 'height.px': 42, 'width.px': 42, 'marginTop.px': 20 }"></ngx-skeleton-loader>
			</div>
			<div class="message-container">
			  <ngx-skeleton-loader
			  	appearance="line" 
			  	[theme]="{ 'height.px': 142, 'marginBottom.px': 32, 'marginTop.px': 20 }"></ngx-skeleton-loader>
				<ngx-skeleton-loader
					appearance="line" 
					[theme]="{ 'height.px': 34, 'width.px': 100, 'float': 'right' }"></ngx-skeleton-loader>
			</div>
	</div>


	<div class="fadeIn" [ngClass]="{ 'hide': loading }">
		<mat-card-content class="card-content">
			<div class="avatar-container">
			  <img class="avatar" mat-card-avatar src="assets/img/blank-profile.png">
			</div>
			
			<div class="message-container">
			  <div class="message fadeIn" #postMessage></div>
			</div>
			
		</mat-card-content>
		<mat-card-actions align="end">
			<button class="post-btn" mat-raised-button color="primary"><span>Post</span> <mat-icon>send</mat-icon></button>
		</mat-card-actions>
	</div>
	
	<mat-card-footer *ngIf="loading" class="fadeIn">
    <mat-progress-bar color="accent" [mode]="loading ? 'indeterminate' : 'determinate'" value="0" ></mat-progress-bar>
  </mat-card-footer>
</mat-card>