.post-card {
}

mat-card-header {
	width: 100%;
	margin-bottom: 20px;
}

.mat-focused mat-label {
	
}

.post-btn mat-icon {
	margin-left: 10px;
}

.post-icon {
	font-size: 20px;
}

.card-content {
	margin-top: 10px;
}

.loading-avatar {
	float: left;
}

.loading-title {
	float: left;
	width: 40%;
	padding-top: 4px;
	margin-left: 12px;
}

.loading-subtitle {
	float: left;
	width: 60%;
	padding-top: 2px;
	margin-left: 12px;
	margin-bottom: 20px;
}

.loading-body {
	margin-bottom: 20px;
}

.loading-footer {
	float: right;
	width: 100px;

}